<!-- Menu principal-->

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="link-secondary" href="#"></a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#">The Spa</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="link-secondary" href="#" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                        viewBox="0 0 24 24">
                        <title>Search</title>
                        <circle cx="10.5" cy="10.5" r="7.5" />
                        <path d="M21 21l-5.2-5.2" />
                    </svg>
                </a>
                <a class="btn btn-sm btn-outline-secondary" href="#">Iniciar sesión</a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex">
            <a class="p-2 link-secondary" routerLink="/sedes/list">Sedes </a>
            <a class="p-2 link-secondary" routerLink="/servicios/list">Servicios </a>
            <a class="p-2 link-secondary" routerLink="/articulos/list">Articulos </a>
            <a class="p-2 link-secondary" routerLink="/packs/list">Paquetes </a>
            <a class="p-2 link-secondary" routerLink="/serviciosExtra/list">Servicios Extra </a>
            <a class="p-2 link-secondary" routerLink="/trabajadores/list">Hall of Fame </a>

        </nav>
    </div>

    <!-- Adds a vertical spacer of 50px-->
    <div class="row">
        <div class="col-12">
            <div style="height: 20px;"></div>
        </div>
    </div>


</div>

<router-outlet></router-outlet>

<app-footerPanel></app-footerPanel>