<!-- BANNER INFERIOR-->

<footer class="spaNewBg py-4 align-foot-top-big">
  <div class="container align-foot-top align-foot-bot">
    <div class="row">
      <div class="col-md-3">
        <h5 class="spaFont textCenter2">The Spa</h5>
        <p class="spaFont3 textCenter">@2023</p>
        <img
          src="https://github.com/JuanCoronel/SisTrans-Group/blob/main/Gold_And_Black_Minimalist_Beauty_And_Spa_Logo-removebg-preview.png?raw=true"
          alt="Logo" class="logo">
      </div>
      <div class="col-md-3">
        <h5 class="spaFont textCenter2">Informacion</h5>
        <div class="d-flex justify-content-center">
          <p>Lunes a Viernes: 9am - 5pm</p>
        </div>
        <div class="d-flex justify-content-center">
          <p>Sábados: 10am - 2pm</p>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="spaFont textCenter2">Redes sociales</h5>
        <ul class="list-unstyled">
          <div class="d-flex justify-content-center">
            <li><a href="#"><em class="fab fa-facebook"></em> Facebook</a></li>
          </div>
          <div class="d-flex justify-content-center">
            <li><a href="#"><em class="fab fa-twitter"></em> Twitter</a></li>
          </div>
          <div class="d-flex justify-content-center">
            <li><a href="#"><em class="fab fa-instagram"></em> Instagram</a></li>
          </div>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="spaFont textCenter2">About</h5>
        <div class="d-flex justify-content-center">
          <p>@Universidad de los Andes - Bogota</p>
        </div>
      </div>
    </div>
  </div>
</footer>