<div class="container mt-4">
    <h2 class="text-center">Create a new servicio</h2>
    <form class="servicio-form" [formGroup]="servicioForm"
        (ngSubmit)="!servicioForm.invalid && createServicio(servicioForm.value)">
        <!-- Name -->
        <div class="form-group mx-sm-3 mb-2">
            <label for="nombre">Name</label>
            <input novalidate id="nombre" class="form-control" formControlName="nombre"
                placeholder="Servicio's nombre" />
            <div class="alert alert-danger alert-dismissible fade show"
                *ngIf="servicioForm.get('nombre')!.hasError('required') && servicioForm.get('nombre')!.touched">
                Name required
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                *ngIf="servicioForm.get('nombre')!.hasError('minlength')">
                Name too short
            </div>
        </div>


        <!-- Description -->
        <div class="form-group mx-sm-3 mb-2">
            <label for="descripcion">Description</label>
            <input novalidate id="descripcion" class="form-control" formControlName="descripcion"
                placeholder="Servicio's short descripcion" />
            <div class="alert alert-danger alert-dismissible fade show"
                *ngIf="servicioForm.get('descripcion')!.hasError('required') && servicioForm.get('descripcion')!.touched">
                Description required
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                *ngIf="servicioForm.get('descripcion')!.hasError('maxlength')">
                Description too long
            </div>
        </div>

        <!-- Sedes -->

        <div class="form-group mx-sm-3 mb-2">
            <label for="sedes"> Sede </label>
            <select class="form-control" id="sedes" rows="3" formControlName="sede">
                <option value="">Select the sede</option>
                <option [value]="a.id" *ngFor="let a of sedes">{{ a.nombre }}</option>
            </select>
        </div>
        <!-- Sede is a formBuilder itself, with an atribute 'id', so we must insert a.id into this id-->
        <div class="alert alert-danger alert-dismissible fade show"
            *ngIf="servicioForm.get('sede')!.hasError('required') && servicioForm.get('sede')!.touched">
            Sede required
        </div>

        <!-- restricciones-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="restricciones">Restricciones</label>
            <input novalidate id="restricciones" class="form-control" formControlName="restricciones"
                placeholder="Servicio's short restricciones" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                    servicioForm.get('restricciones')!.hasError('required') &&
                    servicioForm.get('restricciones')!.touched
                  ">
                restricciones required
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                *ngIf="servicioForm.get('restricciones')!.hasError('maxlength')">
                restricciones too long
            </div>
        </div>

        <!-- Hora de inicio-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="horaInicio">Hora de inicio (0-23)</label>
            <input novalidate id="horaInicio" class="form-control" formControlName="horaInicio"
                placeholder="Servicio's short horaInicio" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                    servicioForm.get('horaInicio')!.hasError('required') &&
                    servicioForm.get('horaInicio')!.touched
                  ">
                horaInicio required
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                *ngIf="servicioForm.get('horaInicio')!.hasError('maxlength')">
                horaInicio too long
            </div>
            <!-- Hora de inicio must be a valid time-->
            <div class="alert alert-danger alert-dismissible fade show"
                *ngIf="servicioForm.get('horaInicio')!.hasError('pattern')">
                horaInicio must be a valid time
            </div>
        </div>

        <!-- Duracion-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="duracion">Duracion en horas</label>
            <input novalidate id="duracion" class="form-control" formControlName="duracion"
                placeholder="Servicio's short duracion" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                    servicioForm.get('duracion')!.hasError('required') &&
                    servicioForm.get('duracion')!.touched
                  ">
                duracion required
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                *ngIf="servicioForm.get('duracion')!.hasError('maxlength')">
                duracion too long
            </div>
            <!-- duracion must be a valid time-->
            <div class="alert alert-danger alert-dismissible fade show"
                *ngIf="servicioForm.get('duracion')!.hasError('pattern')">
                duracion must be a valid time
            </div>
        </div>

        <!-- Precio -->
        <div class="form-group mx-sm-3 mb-2">
            <label for="precio">Precio en dolares</label>
            <input novalidate id="precio" class="form-control" formControlName="precio"
                placeholder="Servicio's short precio" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                    servicioForm.get('precio')!.hasError('required') &&
                    servicioForm.get('precio')!.touched
                  ">
                precio required
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                *ngIf="servicioForm.get('precio')!.hasError('maxlength')">
                precio too long
            </div>
            <!-- precio must be a valid time-->
            <div class="alert alert-danger alert-dismissible fade show"
                *ngIf="servicioForm.get('precio')!.hasError('pattern')">
                precio must be a valid precio
            </div>
        </div>

        <!--Image, which must be a valid url-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="imagen">Image</label>
            <input novalidate id="imagen" class="form-control" formControlName="imagen"
                placeholder="Servicio's imagen" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                    servicioForm.get('imagen')!.hasError('required') &&
                    servicioForm.get('imagen')!.touched
                  ">
                Image required
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                *ngIf="servicioForm.get('imagen')!.hasError('pattern')">
                Image must be a valid url
            </div>
        </div>




        <button id="submit" type="submit" class="btn btn-primary" [disabled]="!servicioForm.valid">
            Create
        </button>
        <button type="button" class="btn btn-danger ml-3" (click)="cancelCreation()">
            Cancel
        </button>
    </form>
</div>