<div class="container mt-4">
  <h2 class="text-center">Create a new servicio</h2>
  <form class="servicio-form" [formGroup]="servicioExtraForm"
      (ngSubmit)="!servicioExtraForm.invalid && createServicioExtra(servicioExtraForm.value)">
      <!-- Name -->
      <div class="form-group mx-sm-3 mb-2">
          <label for="nombre">Nombre</label>
          <input novalidate id="nombre" class="form-control" formControlName="nombre"
              placeholder="Servicio Extra's nombre" />
          <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="servicioExtraForm.get('nombre')!.hasError('required') && servicioExtraForm.get('nombre')!.touched">
              Name required
          </div>
          <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="servicioExtraForm.get('nombre')!.hasError('minlength')">
              Name too short
          </div>
      </div>


      <!-- Description -->
      <div class="form-group mx-sm-3 mb-2">
          <label for="descripcion">Descripción</label>
          <input novalidate id="descripcion" class="form-control" formControlName="descripcion"
              placeholder="Servicio extra's short descripcion" />
          <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="servicioExtraForm.get('descripcion')!.hasError('required') && servicioExtraForm.get('descripcion')!.touched">
              Description required
          </div>
          <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="servicioExtraForm.get('descripcion')!.hasError('maxlength')">
              Description too long
          </div>
      </div>

      <!-- Sedes -->

      <div class="form-group mx-sm-3 mb-2">
          <label for="sedes"> Sede </label>
          <select class="form-control" id="sedes" rows="3" formControlName="sede">
              <option value="">Select the sede</option>
              <option [value]="a.id" *ngFor="let a of sedes">{{ a.nombre }}</option>
          </select>
      </div>
      <!-- Sede is a formBuilder itself, with an atribute 'id', so we must insert a.id into this id-->
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="servicioExtraForm.get('sede')!.hasError('required') && servicioExtraForm.get('sede')!.touched">
          Sede required
      </div>

      <!-- Precio -->
      <div class="form-group mx-sm-3 mb-2">
          <label for="precio">Precio en dolares</label>
          <input novalidate id="precio" class="form-control" formControlName="precio"
              placeholder="Servicio extra's short precio" />
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                servicioExtraForm.get('precio')!.hasError('required') &&
                servicioExtraForm.get('precio')!.touched
                ">
              precio required
          </div>
          <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="servicioExtraForm.get('precio')!.hasError('maxlength')">
              precio too long
          </div>
          <!-- precio must be a valid time-->
          <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="servicioExtraForm.get('precio')!.hasError('pattern')">
              precio must be a valid precio
          </div>
      </div>

      <!--Image, which must be a valid url-->
      <div class="form-group mx-sm-3 mb-2">
          <label for="imagen">Imagen</label>
          <input novalidate id="imagen" class="form-control" formControlName="imagen"
              placeholder="Servicio extra's imagen" />
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                servicioExtraForm.get('imagen')!.hasError('required') &&
                servicioExtraForm.get('imagen')!.touched
                ">
              Image required
          </div>
          <div class="alert alert-danger alert-dismissible fade show"
              *ngIf="servicioExtraForm.get('imagen')!.hasError('pattern')">
              Image must be a valid url
          </div>
      </div>




      <button id="submit" type="submit" class="btn btn-primary" [disabled]="!servicioExtraForm.valid">
          Create
      </button>
      <button type="button" class="btn btn-danger ml-3" (click)="cancelCreation()">
          Cancel
      </button>
  </form>
</div>
